* {
  margin: 0;
  padding: 0;
}
/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  border-style: solid;
  border-color: #931420;
  background-color: #fffded;
  width: 800px;
}

/* the styles for the html */
html {
  background-color: white;
}

/* the styles for the header */
header {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #931420;
  padding-top: 1.5em;
  padding-bottom: 2em;
  background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
}
header img {
	float: left;
  padding-right: 30px;
  padding-left: 30px;
}
header h2 {
  font-size: 170%;
  color: #800000;
}
header h3 {
  font-size: 130%;
  font-style: italic;
}

/* the styles for the section */
section {
  width: 525px;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
section p {
  padding-bottom: .5em;
}
section blockquote {
  padding-left: 2em;
  padding-right: 2em;
}
section ul {
  padding-bottom: .25em;
  padding-left: 1.25em;
}
section li {
  padding-bottom: .35em;
}
section article {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 2px solid #800000;
  border-top: 2px solid #800000;
}
section article h2 {
  padding-top: 0;
}
section article h3{
  font-size: 105%;
  padding-bottom: .25em;
}
section article img {
  float: right;
  margin: 1em;
  border: 1px solid black;
}

/* the styles for the aside */
aside {
  width: 215px;
  padding-left: 20px;
  padding-bottom: 20px;
}
aside h3 {
  font-size: 105%;
  padding-bottom: .25em;
}
aside img {
  padding-bottom: 1em;
}

/* the styles for the main */
main {
	clear: left;
  margin: .8em;
}
main h2 {
  font-size: 130%;
  color: #800000;
  padding-top: .5em;
  padding-bottom:.25em;
}

/* styles for any links */
a:hover {
  font-style: italic;
}
a:focus {
  font-style: italic;
}

/* the styles for the footer */
footer {
  background-color: #931420;
  clear: both;
}
footer p {
  color: white;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* the styles for classes */
.shadow {
  text-shadow: 2px 2px #800000;
}

/* tagName styles */
h1 {
  font-size: 150%;
  padding-top: .5em;
  padding-bottom: .25em;
  margin: 0;
}

/* #nav_menu styles */
#nav_menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav_menu li {
  float: left;
}
#nav_menu li a {
  display: block;
  width: 160px;
  text-align: center;
  padding: 1em 0 1em 0;
  text-decoration-line: none;
  background-color: #800000;
  color: white;
  font-weight: bold;
}
#nav_menu li .current {
  color: yellow;
}
#nav_menu li ul {
  display: none;
}
#nav_menu li ul li {
  clear: both;
}
#nav_menu li:hover > ul {
  list-style-type: none;
  display: block;
  position: absolute;
}
#nav_menu::after {
  clear: both;
  display:block;
}